@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    color: #f3f4f6;
}
video{
    width:100%;
    height:100%;
    object-fit:cover;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
}
